:root{
    --black-bean: #4e1404ff;
    --butterscotch: #cd913cff;
    --rich-black: #00181eff;
    --rosy-brown: #ca9f91ff;
    --dark-green: #17220eff;
    --dark-red: #8b0000ff;
    --white: #ffffff;
}