@import url(colors.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--rich-black);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--rich-black);
    color: var(--white);
    height: 81.5vh;
}
main h2{
    align-self: flex-start;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}
main p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
main a{
    text-decoration: none;
    color: var(--butterscotch);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

